body {
    text-align: center;
    background: #e6620a;
    font-family: sans-serif;
    font-weight: 100;
}

#demo{
    color: rgb(47, 14, 230);
    font-weight: 100;
    font-size: 20px;
    margin: 20px 0px 10px;
}

#button:hover{
     background-color: yellow;
      
}

#result:active{
    font-size: 150%;
}